---
import Layout from '../layouts/Layout.astro'
---
<Layout title='starting soon'>
  <main class='grid grid-cols-1 h-[100vh] place-content-center w-2/3 mx-auto'>
    <section class='bg-zinc-800 w-full mx-auto h-[50vh] rounded-3xl place-content-center grid text-center dark-drop-shadow'>
      <h1 class='text-emerald-400 text-[196px]'>starting soon</h1>
      <p class='text-[126px]'>00:00</p>
    </section>
  </main>
</Layout>