---
import Layout from '../layouts/Layout.astro'
---
<Layout title='just chatting'>
  <main class='p-4 debug mx-auto w-full grid grid-cols-1 place-content-center'>
    <h1 class='text-emerald-400 text-[128px]'>just chatting</h1>
    <section class="grid grid-cols-4 gap-16">
    <section class='bg-zinc-700 col-span-3 h-[50vh] rounded-3xl'></section>
    <section class='bg-zinc-800 col-span-1 h-[50vh] rounded-3xl'>
      </section>
  </main>
</Layout>