---
import Layout from '../layouts/Layout.astro'
---
<Layout title='just chatting'>
  <main class='h-full mx-auto w-11/12 grid grid-cols-1'>
    <section class='grid algn-center'>
    <h1 class='text-emerald-400 text-[128px] pt-4 pb-12'>just chatting</h1>
    <section class="grid grid-cols-4 gap-16">
    <section class='bg-zinc-700 aspect-video col-span-3 rounded-3xl'></section>
    <section class='bg-zinc-800 col-span-1 h-full rounded-3xl'></section>

      
    </section>
  </main>
</Layout>