---
import Layout from '../layouts/Layout.astro';
const title = 'Astro & Tailwind Starter'
---

<Layout title={title}>
	<main class="flow">
		<section class="flow mb-36">
			<div class="pt-24 flow max-w-prose mx-auto text-center">
				<h1>{title}</h1>
				<p>
					Edit <code>src/pages/index.astro</code> to get started.
				</p>
			</div>
		</section>
		<section class="flow mb-16">
			<div class="flow max-w-prose mx-auto">
				<h2 class="text-center">More about this starter</h2>
				<p>
					I created this started solely for myself to have a better and faster
					jumping off point on new Astro projects. While it <em>largely</em>{" "}
					un-opinionated, that does not mean there are zero opinions.
				</p>
				<p>
					This starter template <em>may</em> grow a bit with styles and
					components that match my desired style. You can, of course, change
					whatever you would like in the appropriate folders. But to begin
					with this starter features:
				</p>
				<ul class="ml-10 list-disc">
					<li>
						<p>Responsive font-sizing</p>
					</li>
					<li>
						<p>
							Responsive element spacing due to the addition of the{" "}
							<code>.flow</code> class
						</p>
					</li>
					<li>
						<p>
							Poppins Google Font added to Tailwinds <code>fontSans</code>{" "}
							class
						</p>
					</li>
					<li>
						<p>Basic light and dark mode</p>
					</li>
				</ul>
			</div>
		</section>
		<section class="flow mb-16">
			<div class="flow max-w-prose mx-auto">
				<h2 class="text-center">
					The <code>.flow</code> Class
				</h2>
				<p>
					Here is a quick breakdown of the <code>.flow</code> class:
				</p>
				<ol class="list-decimal ml-10">
					<li>
						<p>Help manage flow and rhythm of elements.</p>
					</li>
					<li>
						<p>
							Every direct sibling child element of has{" "}
							<code>margin-block-start</code>
							added to it.
						</p>
					</li>
					<li>
						<p>
							Uses <code>1em</code> as a fallback from clamp syntax.
						</p>
					</li>
				</ol>
			</div>
		</section>
	</main>
</Layout>