---
import Layout from '../layouts/Layout.astro';
const title = 'Astro & Tailwind Starter'
---

<Layout title={title}>
	<main class="flow">
		<h1>
		ryandotfurrer's stream overlays
		</h1>
	</main>
</Layout>